.map-container {
  height: 92vh;
}

.ui.divided.items {
  padding-top: 2vh;
  height: 91vh;
  overflow: scroll;
}

.ui.divided.items .item .content {
  padding-right: 5px;
}

.ui.vertical.pointing.menu {
  width: 100%;
  text-align: center;
}

.ui.divided.items .active.item {
  background-color: #fffddd;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(138,138,138,1);
  -moz-box-shadow: 0px 0px 2px 0px rgba(138,138,138,1);
  box-shadow: 0px 0px 2px 0px rgba(138,138,138,1);
}